services:
  postiz:
    image: 'ghcr.io/gitroomhq/postiz-app:latest'
    container_name: postiz
    restart: always
    environment:
      MAIN_URL: 'https://sm.sbazar.in'
      FRONTEND_URL: 'https://sm.sbazar.in'
      NEXT_PUBLIC_BACKEND_URL: 'https://sm.sbazar.in'
      JWT_SECRET: qwertyuvbnmosikdjfbnjdk
      CLOUDFLARE_ACCOUNT_ID: QhcMSXQyPuMCRpSQcSYdEuTYgHeCXHbu
      CLOUDFLARE_ACCESS_KEY: dcfCMSuFEeCNfvByUureMZEfxWJmDqZe
      CLOUDFLARE_SECRET_ACCESS_KEY: zTTMXBmtyLPwHEdpACGHgDgzRTNpTJewiNriLnUS
      CLOUDFLARE_BUCKETNAME: postiz
      CLOUDFLARE_BUCKET_URL: 'https://QhcMSXQyPuMCRpSQcSYdEuTYgHeCXHbu.r2.cloudflarestorage.com/'
      CLOUDFLARE_REGION: auto
      DATABASE_URL: 'postgresql://postiz-user:postiz-password@postiz-postgres:5432/postiz-db-local'
      REDIS_URL: 'redis://postiz-redis:6379'
      BACKEND_INTERNAL_URL: 'http://localhost:3004/'
      IS_GENERAL: 'true'
    volumes:
      - 'postiz-config:/config/'
    ports:
      - '4201:4200'
      - '3004:3000'
    networks:
      - postiz-network
    labels:
      - traefik.enable=true
      - 'traefik.https.routers.<unique_router_name>.rule=Host(`coolify.io`) && PathPrefix(`/`)'
      - traefik.https.routers.<unique_router_name>.entryPoints=https
    depends_on:
      postiz-postgres:
        condition: service_healthy
      postiz-redis:
        condition: service_healthy
  postiz-postgres:
    image: 'postgres:14.5'
    container_name: postiz-postgres
    restart: always
    environment:
      POSTGRES_PASSWORD: postiz-password
      POSTGRES_USER: postiz-user
      POSTGRES_DB: postiz-db-local
    volumes:
      - 'postgres-volume:/var/lib/postgresql/data'
    ports:
      - '5433:5432'
    networks:
      - postiz-network
    healthcheck:
      test: 'pg_isready -U postiz-user -d postiz-db-local'
      interval: 10s
      timeout: 3s
      retries: 3
  postiz-redis:
    image: 'redis:7.2'
    container_name: postiz-redis
    restart: always
    ports:
      - '6379:6379'
    healthcheck:
      test: 'redis-cli ping'
      interval: 10s
      timeout: 3s
      retries: 3
    volumes:
      - 'postiz-redis-data:/data'
    networks:
      - postiz-network
volumes:
  postgres-volume:
    external: false
  postiz-redis-data:
    external: false
  postiz-config:
    external: false
networks:
  postiz-network:
    external: false
